#app {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.settings-input {
  display: flex;
}
.settings-input label {
  width: 15%;
}
.settings-input div {
  flex: 1;
}
.settings-input input.has-error {
  flex: 1;
  border: 1px solid #ff3860;
}
.settings-button {
  display: flex;
  flex-direction: row-reverse;
}
.settings-button button {
  margin-left: 5px;
}
.help {
  margin: 0;
}
.has-error {
  color: #ff3860;
}

